.home {
    min-height: 100vh;
    background: url("img/download.jpeg") 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    
}
.footer{
    height: 100px;
    background: slategray;
    text-align: right;
}
.footer p{
    font-size: 10px;
    padding-top: 40px;
    padding-right: 10px;
}